$colors: (
        primary: #1a73e8,
        success: #188038,
        edit: #ff8800,
        error: #bf360c,
        font: #202124,
        link: #045daf,
        italic: #616161,
        disabled: rgb(32, 33, 36),
);
